<% messages.each_with_index do |message, i| %>
  <li class='list-group-item' id ='<%= "message_#{i}" %>'>
    <%= link_to "<i class='icon-envelope'></i> #{message.subject}".html_safe, message_url(message.id, page_id: i), remote: true, class: "model" %>
    <%= link_to '<i class="icon-check-sign"></i> '.html_safe, message_url(message, page_id: i), method: :patch, remote: true, class: "pull-right" %>
  </li>
<% end %>
