<h1>Hi There <%= @user.first_name %></h1>

<p><%= @finder.first_name %> has found something that belongs to you!</p>

<p>Here is their contact details:</p>

<ul>
  <li>Cell number: <%= @finder.cell_number %></li>
  <li>Email: <%= @finder.email %></li>
</ul>

<p>Thx for using iLostandFound!</p>
