/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min
 *= require carousel
 *= require signin
 *= require ilost-styles
 */

.img_size {
  width: 150px;
}

.test_area_size {
  width: 360px;
  height: 150px;
}

.welcome_text_show_page{
  margin: 30px 0px;
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.margin_bottom {
  margin-bottom: 20px;
}


.welcome_text_show_page{
  margin: 30px 0px;
  font-size: 20px;
  color: red;
  font-weight: bold;
}

.margin_bottom {
  margin-bottom: 20px;
}

.multiprint_list {
  visibility: hidden;
  display: none;
}


.btn-primary a,
.btn-primary a:hover
{color:white;
text-decoration: none;
}


@media print {
.userview,
.alert
{display: none; visibility:hidden;}
.row.multiprint_list {visibility: visible !important;
visibility: visible;
display: inline;
float: left;
margin:0 20px;
}
body {margin:-18px 0 0 0;padding: 0;text-align: center; }
.groupprint1 .code {width: 220px;border: 1px solid gray;padding:2px;margin:0 0 3px 0;background: red;float: left;overflow: hidden;}
.groupprint1 .code p {font-size: .8em;line-height:1;padding:0 20px 0 20px;margin-top: -15px;z-index: 100}
.groupprint1 .code img {}

.groupprint2 .code {width: 165px;border: 1px solid gray;padding:2px;margin:0 0 3px 0;background: red;float: left;overflow: hidden;}
.groupprint2 .code p {font-size: .6em;line-height:1;padding:0 17px;margin-top: -12px;}
.groupprint2 .code img {width: 150px;}

.groupprint3 .code {text-align:center;width: 150px;border: 1px solid gray;padding:2px;margin:0 0 3px 0;background: red;float: left;overflow: hidden;}
.groupprint3 .code p {font-size: .6em;line-height:1;padding:0 26px;text-align: left;margin-top: -8px;}
.groupprint3 .code img {width: 120px;}

.groupprint {float:left;clear:both;}
}

.bdr_bottom {
  border-bottom: 1px solid black;
}

